.information {
    position: fixed;
    width: 25%;
    left: 0;
    top: 0;
    height: 100%;
    margin-top: 90px;
    background-color: var(--gray);
    text-align: left;
}

.information h1 {
    margin-left: 5%;
}

.information p {
    margin-left: 5%;
}

.information button{
    display: block;
    margin: auto;
    height: 50px;
    width: 150px;
}

.information button:hover {
    opacity: 60%;
}
.image-colum {
    margin: 30%;
    margin-top: 100px;
    width: 30%;
    height: 100vh;
    text-align: center;
}

.input-image {
    background-color: var(--gray);
    padding: 10px;
    margin: 10px;
}
.input-image li{
    text-align: left;
}

.input-image:hover + .output-image {
    display: block;
    width: 30%;
    text-align: center;
}

.output-image {
    display: none;
    position: fixed;
    top: 100px;
    margin-left: 35%;
}

.output-image img{
    width: 100%;
    margin: auto;
}

.status {
    margin-top: 200px;
    text-align: center;
}